header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em 0;
  background-color: var(--color-tertiary);

  flex-direction: column;

  @media screen and (min-width: 900px) {
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
  }

  .navbar {
    width: 100%;
    max-width: 800px;
    padding: 0 2em 0 5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width: 400px) {
      padding: 0 2em 0 2em;
    }

    .logo {
      display: flex;
      justify-content: start;

      font-size: 2.25rem;
      font-weight: 600;
      color: var(--color-primary);
      width: 250px;

      a {
        display: flex;
        justify-content: start;
      }
    }

    .nav-container {
      display: flex;
      align-items: baseline;

      @media screen and (max-width: 900px) {
        display: none;
      }

      .navbar-list {
        display: flex;
        justify-content: flex-start;

        .navbar-item {
          margin: 0 2em;

          a {
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 100;
          }

          .active {
            // color: red;
            font-weight: 500;
          }
        }
      }
    }

    .mobile-menu {
      @media screen and (min-width: 900px) {
        display: none;
      }
    }
  }

  .darkmode-icon {
    height: 25px;
    width: 25px;
    align-self: center;
    margin-right: 5em;
    color: grey;
    transition: color 0.3s ease;

    &:hover {
      color: black;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

//

.mobile-menu {
  width: 35px;
  height: 35px;
  // border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  .motion-div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;

    width: 90%;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background-color: var(--color-neutral-100);

    // background: url("../../assets/bgWhite.png");
    // background-color: var(--white-color);
    // background-size: cover;
    // background-repeat: repeat;

    box-shadow: 0 0 20px rgba(168, 168, 168, 0.2);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--color-text);
          text-decoration: none;
          font-size: 1.6rem;
          font-weight: 500;

          transition: all 0.3s ease-in-out;

          &:hover {
            color: red;
          }
        }
      }
    }
    @media screen and (min-width: 900px) {
      display: none;
    }

    .icon-container {
      width: 100%;

      .mobile-darkmode-icon {
        justify-self: flex-start;
        width: 25px;
        height: 25px;
      }
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}
